// Transition
@mixin transition( $args ) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

/*------------------------------------------------------------------
Advanced Heading
-------------------------------------------------------------------*/
.zeus-advanced-heading {
    position: relative;

    .zeus-has-bg {
        &.zeus-background-heading,
        &.zeus-main-heading,
        &.zeus-sub-heading {
            > div {
                background-color: transparent;
                background-image: linear-gradient(180deg, #26cdff 0%, #e5c063 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .zeus-background-heading {
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 60px;
        font-weight: 700;
        line-height: 1;
        color: rgba(0, 0, 0, .03);
        text-transform: uppercase;
        z-index: 0;
        @include transition( all .3s ease-out );

        > div {
            display: inline-block;
        }
    }

    .zeus-main-heading {
        margin: 0;
        padding: 0;
    }

    .zeus-main-heading,
    .zeus-sub-heading {
        position: relative;
        z-index: 1;

        > div {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .zeus-sub-heading {
        text-transform: uppercase;
    }

    .zeus-line:after {
        content: '';
        background-color: #e5c063;
        display: inline-block;
        width: 40px;
        height: 2px;
        vertical-align: middle;
    }

    .zeus-line-align-left {
        float: left;
    }

    .zeus-line-align-right {
        float: right;
    }

    .zeus-line-align-bottom {
        line-height: 0;
    }
}

.zeus-background-heading-left .zeus-background-heading {
    text-align: left;
}

.zeus-background-heading-center .zeus-background-heading {
    text-align: center;
}

.zeus-background-heading-right .zeus-background-heading {
    text-align: right;
}

/*------------------------------------------------------------------
Responsive
-------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    .zeus-tablet-background-heading-left .zeus-background-heading {
        text-align: left;
    }

    .zeus-tablet-background-heading-center .zeus-background-heading {
        text-align: center;
    }

    .zeus-tablet-background-heading-right .zeus-background-heading {
        text-align: right;
    }

    .elementor-align-tablet-left {
        text-align: left;
    }

    .elementor-align-tablet-center {
        text-align: center;
    }

    .elementor-align-tablet-right {
        text-align: right;
    }

    .zeus-hide-tm {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .zeus-mobile-background-heading-left .zeus-background-heading {
        text-align: left;
    }

    .zeus-mobile-background-heading-center .zeus-background-heading {
        text-align: center;
    }

    .zeus-mobile-background-heading-right .zeus-background-heading {
        text-align: right;
    }

    .elementor-align-mobile-left {
        text-align: left;
    }

    .elementor-align-mobile-center {
        text-align: center;
    }

    .elementor-align-mobile-right {
        text-align: right;
    }

    .zeus-hide-m {
        display: none;
    }
}