/*------------------------------------------------------------------
Elementor Editor
-------------------------------------------------------------------*/
.elementor-panel {
	.elementor-element {
    	-webkit-transition: background 0.15s ease, box-shadow 0.15s ease;
	    -o-transition: background 0.15s ease, box-shadow 0.15s ease;
	    transition: background 0.15s ease, box-shadow 0.15s ease;

		.icon,
		.title {
	    	-webkit-transition: color 0.15s ease;
		    -o-transition: color 0.15s ease;
		    transition: color 0.15s ease;
		}

	    &:hover {
		    background: #e5c063;

			.icon,
			.title,
			.zeus-icon {
			    color: #fff;
			}
		}
	}
}

.zeus-icon {
    color: #e5c063;
}

.zeus-main-icon {
    margin-right: 5px;
}

/* RTL */
body.rtl {
	.zeus-main-icon {
	    margin-left: 5px;
	    margin-right: 0;
	}
}